<div class="form-group mt-5">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
  </div>
  <div class="form-group mt-5">
    <label for="description">Description</label>
    <textarea rows="12" name="description" id="description" class="form-control"><%= article.description %></textarea>
  </div>
  <div class="form-group mt-5">
    <label for="banner">Banner link</label>
    <textarea required name="banner" id="banner" class="form-control"><%= article.banner %></textarea>
  </div>
  
  <a href="/" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>